@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
.component1{
    padding-top: 150px;
    position: relative;
    margin:  0 0 0 0;
    background-color: black;
    background-image: url('./images/765lt.webp');
    height: 900px;
}
.cont2{
    margin-left: 10%;
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.mclaren{
    flex-direction: row;
    margin-left: 10%;
    display: flex;
    height: 700px;
    width: 80%;
    flex-flow: column wrap;
}
.txt2{
    align-items: flex-end;
}
img.picture{
    top: 0;
    width: 100%;
    position: static;
    max-width: 100%;
    margin-top: 0px;
    z-index: 0;
}
.picText{
    z-index: 5;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white;
}
span{
    color: #EB6041;
}
@media (max-width: 750px) {
    .txt4{
        display: none;
    }
}